# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

**/.DS_Store
nbproject
manifest.mf
build.xml

.project
.settings
.idea/*

www
npm-debug.log

test/test-results.xml

bower_components/
